In [ ]:
import os, re
import pandas as pd
from datetime import datetime

In [7]:
delhi_df = pd.read_csv("data/delhi_air_quality_feature_store_unprocessed.csv")
delhi_df.head()

,location_id,city,event_timestamp,temperature,humidity,pressure,wind_speed,wind_direction,pm25,pm10,no2,so2,o3,co,aqi
0,"Delhi Institute of Tool Engineering, Wazirpur,...",Wazirpur,2000-03-15 13:44:28.651396,30.450,74.100,990.425,0.300,21.7,252.0,332.0,62.4,4.8,22.4,35.7,332
1,"Satyawati College, Delhi, Delhi, India",Delhi,2000-03-15 13:44:28.651396,26.675,74.350,980.650,1.375,55.3,256.0,234.0,59.2,11.9,2.1,33.8,256
2,"ITI Shahdra, Jhilmil Industrial Area, Delhi, D...",Jhilmil,2000-03-15 13:44:28.651396,28.775,62.925,984.350,0.300,221.3,265.0,210.0,48.3,5.1,8.2,35.1,265
3,"Sonia Vihar Water Treatment Plant DJB, Delhi, ...",Sonia Vihar,2000-03-15 13:44:28.651396,26.575,78.525,991.300,0.300,313.6,251.0,177.0,16.5,1.8,1.7,24.9,251
4,"PGDAV College, Sriniwaspuri, Delhi, Delhi, India",Sriniwaspuri,2000-03-15 13:44:28.651396,22.300,71.425,985.650,0.300,347.1,282.0,347.0,43.1,5.2,3.4,29.9,347

In [13]:
len(delhi_df['location_id'].unique())

21

In [14]:
delhi_df.isnull().sum()

location_id              0
city                     0
event_timestamp          0
temperature        1508598
humidity           1508598
pressure           1508598
wind_speed          646542
wind_direction     1724112
pm25                646542
pm10                862056
no2                 431028
so2                1293084
o3                  431028
co                  431028
aqi                      0
dtype: int64

In [15]:
delhi_df.dtypes

location_id         object
city                object
event_timestamp     object
temperature        float64
humidity           float64
pressure           float64
wind_speed         float64
wind_direction     float64
pm25               float64
pm10               float64
no2                float64
so2                float64
o3                 float64
co                 float64
aqi                 object
dtype: object

In [18]:
delhi_df['event_timestamp'] = pd.to_datetime(delhi_df['event_timestamp'])

filtered_df = delhi_df[
    (delhi_df['event_timestamp'] >= '2024-01-01') &
    (delhi_df['event_timestamp'] < '2024-12-02')
]

In [20]:
filtered_df.head()
filtered_df.to_csv("data/delhi_air_quality_2024.csv", index=False)

In [21]:
nasa_df = pd.read_csv(r"A:\Software Projects\Delhi-AQI-Model\data\fire_archive_J1V-C2_696273.csv")
nasa_df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,25.39488,91.32134,326.99,0.52,0.67,2024-01-01,613,N20,VIIRS,n,2,288.68,5.23,D,0
1,23.77677,94.15546,327.00,0.38,0.58,2024-01-01,613,N20,VIIRS,n,2,295.45,2.07,D,0
2,25.39434,91.32460,333.95,0.52,0.67,2024-01-01,613,N20,VIIRS,n,2,286.02,4.16,D,0
3,24.82792,93.75638,339.55,0.38,0.59,2024-01-01,613,N20,VIIRS,n,2,288.58,4.46,D,0
4,24.67892,94.56968,330.12,0.34,0.56,2024-01-01,613,N20,VIIRS,n,2,293.73,2.29,D,0

In [22]:
lat_min, lat_max = 29.5, 32.5
lon_min, lon_max = 73.5, 76.9

punjab_df = nasa_df[
    (nasa_df['latitude'] >= lat_min) & (nasa_df['latitude'] <= lat_max) &
    (nasa_df['longitude'] >= lon_min) & (nasa_df['longitude'] <= lon_max)
]

punjab_df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
796,31.59105,76.71239,333.82,0.38,0.36,2024-01-01,756,N20,VIIRS,n,2,296.47,2.60,D,0
808,32.42054,76.44252,347.59,0.38,0.36,2024-01-01,756,N20,VIIRS,n,2,289.27,11.36,D,0
809,32.41993,76.43851,352.37,0.38,0.36,2024-01-01,756,N20,VIIRS,n,2,308.38,17.32,D,0
810,32.42319,76.43782,329.83,0.38,0.36,2024-01-01,756,N20,VIIRS,n,2,285.61,17.32,D,0
811,32.42258,76.43382,342.17,0.38,0.36,2024-01-01,756,N20,VIIRS,n,2,300.39,17.32,D,0

In [27]:
# len(punjab_df)
# max(punjab_df['bright_t31'])
# max(punjab_df['frp'])
punjab_df.isnull().sum()

latitude      0
longitude     0
brightness    0
scan          0
track         0
acq_date      0
acq_time      0
satellite     0
instrument    0
confidence    0
version       0
bright_t31    0
frp           0
daynight      0
type          0
dtype: int64

In [26]:
punjab_df.to_csv("data/punjab_fires_2024.csv", index=False)

In [31]:
# punjab_df['acq_time'].unique()
# len(punjab_df['longitude'].unique())
# len(punjab_df['latitude'].unique())
len(punjab_df['acq_date'].unique())

332

In [35]:
wind_df = pd.read_csv("data/wind_speed_tel_hr_punjab_sw_pb_1970_2025.csv")
wind_df.head()

,SlNo,Station,Agency,State LGD Code,State,District LGD Code,District,Tehsil,Block,Village,River,Basin,Tributary,Subtributary,SubSubtributary,Local River,Latitude,Longitude,Data Acquisition Time,Telemetry Hourly Wind Speed (Km/Hr)
0,1,Abohar,Punjab SW,3,Punjab,31,FEROZEPUR,Abohar,-,-,Satluj,Indus,-,-,-,Satluj,30.140833,74.207778,27-12-1999 00:00,0.0
1,2,Abohar,Punjab SW,3,Punjab,31,FEROZEPUR,Abohar,-,-,Satluj,Indus,-,-,-,Satluj,30.140833,74.207778,28-12-1999 00:00,0.0
2,3,Abohar,Punjab SW,3,Punjab,31,FEROZEPUR,Abohar,-,-,Satluj,Indus,-,-,-,Satluj,30.140833,74.207778,29-12-1999 00:00,0.0
3,4,Abohar,Punjab SW,3,Punjab,31,FEROZEPUR,Abohar,-,-,Satluj,Indus,-,-,-,Satluj,30.140833,74.207778,30-12-1999 00:00,0.0
4,5,Abohar,Punjab SW,3,Punjab,31,FEROZEPUR,Abohar,-,-,Satluj,Indus,-,-,-,Satluj,30.140833,74.207778,12-04-2021 18:57,40.4

In [36]:
wind_df['Data Acquisition Time'] = pd.to_datetime(wind_df['Data Acquisition Time'])

C:\Users\Atharva Taras\AppData\Local\Temp\ipykernel_20544\52133949.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  wind_df['Data Acquisition Time'] = pd.to_datetime(wind_df['Data Acquisition Time'])

In [37]:
wind_2024_df = wind_df[
	(wind_df['Data Acquisition Time'] >= '2024-01-01') &
	(wind_df['Data Acquisition Time'] < '2025-01-01')
]

In [39]:
wind_2024_df.head()
len(wind_2024_df)

7369

In [40]:
wind_2024_df.to_csv("data/wind_speed_punjab_2024.csv", index=False)

# Preprocess

In [ ]:
import os, re
import pandas as pd
from datetime import datetime

In [ ]:
wind_df = pd.read_csv("data/wind_speed_punjab_2024.csv")
wind_df.head()

148601

46998